@import 'libs/bootstrap-reboot.min';

@font-face {
    font-family: 'GTA';
    src: url('/font/GTARussian-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RDR Lino';
    src: url('/font/RDRLino-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'RDR Lino';
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff
}

ul {
    margin-left: 1rem;
    list-style: none;
}

header {
    position: fixed;
    top: -6px;
    width: 100%;
    padding-top: 6px;
    background-color: #000;
    z-index: 3;

    @media(min-width: 430px) {
        background: linear-gradient(180deg, rgba(0, 0, 0, .776650035) 0%, rgba(42, 37, 37, .9290309874) 11%, rgba(0, 0, 0, .39) 100%);
        box-shadow: -1px 6px 40px 6px rgba(0, 0, 0, .55);
    }


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        padding: 5px 10px;

        .logo {
            width: 100px;
            display: flex;

            @media(min-width:430px) {
                width: 160px;
            }

            img {
                width: 100%;
            }
        }

        ul.nav {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;

            li {
                margin: 0 7px
            }
        }
    }
}

main {
    padding-top: 60px;


    .promo {
        border-bottom: 1px solid #FEC919;

        position: relative;
        height: 100vh;

        img.main_img {
            width: 100%;

            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
    }

    .services {
        position: relative;
        background-attachment: fixed;
        max-width: 1120px;
        margin: 0 auto;
        padding: 50px 10px;

        h1 {
            color: #fff;
            text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
            font-family: GTA;
            font-weight: 600;
            font-size: calc(50px + 35 * ((100vw - 320px) / (1120 - 320)));
        }

        &>ul {
            //   transform: rotate3d(1, 1, 0, 16deg); 
            /* border: 1px solid red; */
            max-width: 730px;
            margin-left: 0;
            padding: 10px;


            @media(min-width: 450px) {
                margin-left: 2rem;
            }

            li {
                margin-bottom: 5px;
                line-height: 150%;
                ul {
                    list-style-type: circle;

                    li {
                        margin-bottom: 5px;

                    }
                }
            }
        }

        img {
            position: absolute;
            right: 0;
            bottom: 50px;
            filter: brightness(0.1);
            z-index: -1;
        }
    }
}

footer {
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'GTA';
}